header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #99ccff;
  z-index: 1000;
  height: 50px;
}
a {
  padding-right: 10px;
}
.active-link {
  /* Define the styles for active links */
  pointer-events: none; /* Disable pointer events to make the link unclickable */
  color: gray; /* Set the color for active links */
}
